/* Cor de fundo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d2691e; /* Laranja queimado */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d2691e; /* Mesmo fundo laranja */
    border-bottom: 2px solid #ccc;
}

h1 {
    margin: 0;
    color: white; /* Para se destacar no fundo laranja */
}

img#logo {
    height: 50px;
}

/* Lista de clientes e grupos */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.grupo {
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    border: 1px solid #b5530a;
    padding: 10px;
    border-radius: 12px;
    background-color: #b5530a; /* Laranja queimado mais forte */
    color: white;
}

.clientes {
    display: none; /* Inicialmente escondido */
    margin-left: 20px;
}

.toggle-button {
    background-color: #b5530a; /* Laranja queimado mais forte */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 12px;
    font-weight: bold; /* Negrito */
}

.toggle-button:hover {
    background-color: #8b3e07;
}

.cliente-item {
    background-color: #f4a460; /* Laranja mais claro */
    padding: 5px 10px;
    border-radius: 8px; /* Borda arredondada para clientes */
    margin: 5px 0;
    font-weight: normal; /* Sem negrito */
    cursor: pointer;
}

/* Item selecionado */
.selecionado {
    border: 2px solid yellow;
}

/* Ajustes no botão "Enviar Informações" para que fique ao lado do filtro na parte superior */
#enviarBtn {
    width: 40%; /* 40% da largura */
    background-color: #5A2E0E; /* Marrom mais forte para chamar atenção */
    color: white;
    border: 2px solid #3D1F07; /* Marrom mais escuro para a borda */
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
}

#enviarBtn:hover {
    background-color: #7B3F14; /* Marrom um pouco mais claro ao passar o mouse */
}